$menu-font-color: #717078;
$menu-border-color: #FCFCFC;
$menu-background-color: #ffffff;
$menu-grey-hover: #E3E3E3;
$menu-color-a-hover: #4f4f54;
$menu-color-icon: #717078;
$menu-color-icon-hover: #00000000;
